<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>Mike Kossick Consulting provides professional preconstruction services.</p> 
<p>Please <a href="contact.html">contact us</a> to learn more</p> 
<p></p> 
