<% provide(:title, '') %>

<% provide(:jumbotron, '
      <h1>Mike Kossick Consulting</h1>
      <p>Mike Kossick Consulting & PreConstruction Services, LLC.</p>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  '.html_safe)%>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Professional Services</h2>
        <p>Construction Consulting and Preconstruction Services for developers, designers and contractors.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Consultation</h2>
        <p>Full range of experience in Project Developing, Contracts, Project Managing, Feasibility Studies and Appraisals, Estimating, Zoning, Land Development and Site Planning, Civil, Concrete, Steel and Wood Engineering, Pre-engineered Metal Buildings,Building Code Studies, Drafting and Specification Writing.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Experience</h2>
        <p>Thirty-five years experience in construction and design-construct projects specializing in heavy and light industrial, commercial, assembly groups, mercantile, food processing, cold-storage, self-storage and agricultural.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
